body {
   background-color: #001333;
}

.nav-tabs {
   /*border-bottom: 1px solid #040263;*/
}

li a {
   color: white;
   border-top-color: #001333;
   border-left-color: #001333;
   border-right-color:#001333;
}

label {
   color: white;
}

li.active a {
   background-color: white !important;
   color: black;
   border-top-color: #001333;
   border-left-color: #001333;
   border-right-color:#001333;
}

a:hover {
   background-color: #001333;
}

.btn-wrapper {
   padding: 0px;
}

.container {
   background-color: black;
}

.fileUploadImg {
   margin-top: 20px;
}

.panel {
   margin-top: 20px;
}

#imageUpload {
   color: white;
}

#uploadForm {
   margin-top: 20px;
}

#banner {
   color: white;
   font-size: 500%;
   text-align: center;
}
